body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

nav {
  background-color: darkblue;
  padding: 16px 0;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
}

nav .brand {
  font-weight: bold;
  font-size: 1.25rem;
}

nav .menu {
  display: none;
}

nav button {
  padding: 8px 10px;
  border: 0;
  background-color: crimson;
  color: white;
  border-radius: 5px;
}

header {
  margin-top: 40px;
  margin-bottom: 10px;
}

header .container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
}

header .artikel-utama {
  position: relative;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header h2 {
  position: absolute;
  bottom: 0px;
  left: 20px;
  color: white;
}

.konten-utama {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 20px;
}

main .daftar-artikel {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

main .artikel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside a {
  color: darkblue;
  text-decoration: none;
}

footer {
  background-color: darkblue;
  padding: 16px 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer .menu {
  display: flex;
  gap: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
    width: 20px;
}

@media (min-width: 640px) {
    nav .menu {
        display: flex;
        gap: 16px;
    }

    header .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
    }

    header .artikel-utama-1 {
        grid-column: span 2;
        grid-row: span 2;
    }

    header .artikel-utama-1 h2 {
        font-size: 2rem;
    }

    main .daftar-artikel {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .container {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    header .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .konten-utama {
        grid-template-columns: 5fr 2fr;
        gap: 40px;
    }
}

@media (min-width: 1280px) {
    .container {
        padding: 0;
    }
}
